{% load static %}
<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/recipes/css/styles.css">
    <title>Recipes' List</title>
    <a href ="{%url 'login' %}"> Login </a>
   </head>
   <body>
       <h1 style="text-align: center">Welcome to my Recipe App</h1>
       <br>
       <center><img src="../../static/recipes/images/recipes.jpg" alt="home" width="600" height="400"></center>
   </body>
</html>